*.apk
gen/
.gradle/
build/
local.properties
*.iml
.idea/
.idea/workspace.xml
.idea/gradle.xml
.idea/libraries
keystore.jks
.idea/compiler.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
Thumbs.db
*.jar
!/gradle/wrapper/gradle-wrapper.jar
libs/
.idea/copyright/